@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrap {
    margin: 0 auto;
}

#header {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px;
}

#header h1 {
    margin-bottom: 30px;
}

#header .search {
    width: 60%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: none;
}

#header .bookMark {
    font-size: 15px;
}

#content {
    background-color: #fff;
    height: 500px;
}

#footer {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    padding: 20px;
    background-color: #333;
    font-size: 15px;
}
